.MainNav {
  @apply flex items-center flex-row justify-between flex-wrap p-4 bg-blue border-b-8 border-blue-light fixed w-full pin-t pin-x;
	align-items: center;
  height: 5rem;
  z-index: 1;
}

.Nav {
  @apply w-full block font-header relative;
}

.Nav:not(.--jsfied) {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.NavLinks {
  @apply list-reset flex justify-end flex-grow mb-0 whitespace-no-wrap;
}

.NavItem {
   @apply flex items-center justify-center;
}

.NavLink {
  @apply block text-xl text-white mr-6 no-underline uppercase tracking-wide rounded leading-none;
  transition: all 100ms ease-in;
}

.NavLink .far {
  transition: all 100ms ease-in;
  transform: scale(1); 
}

.NavLink:hover,
.NavLink--active {
  @apply text-orange;
}

.NavLink:hover .far {
  transition: all 100ms ease-in;
  transform: scale(1.3);
}

.NavMore {
  @apply flex items-center justify-center;
}

.NavMore-button {
  @apply block text-xl text-white no-underline uppercase tracking-wide rounded leading-none;
} 

.NavMore-span {
  display: inline-block;
  transition: transform 0.2s;
}

.Nav--show-secondary .NavMore-span {
  transform: rotate(180deg);
}

.NavSecondary {
  max-width: 100%;
  min-width: 10em;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: 0 0.3em 0.5em rgba(#000, 0.3);
  animation: nav-secondary 0.2s;
  @apply p-0 bg-blue rounded;
}

.NavSecondary .NavLink {
  @apply py-4 mr-0;
}

.Nav--show-secondary .NavSecondary {
  display: block;
}

@keyframes nav-secondary {
  0% {
    opacity: 0;
    transform: translateY(-1em);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.Nav--hidden {
  @apply .hidden;
}
