.Posts {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat( auto-fill, minmax(20rem, 1fr) );
}

.Post {
  @apply flex rounded;
}

.Post-link {
  @apply block bg-grey-lightest rounded p-4 border-4 border-orange-lightest no-underline flex-1 text-black;
  transition: all 100ms ease-in-out;
}

.Post-link:hover {
  @apply border-orange .no-underline;
}

.Post-body {
  @apply .text-grey-darker;
}
