* {
  @apply antialiased;
}

body {
  @apply font-sans text-black;
	display: grid;
  grid-template: auto 1fr minmax(1rem, auto) auto / 100%;
  grid-gap: 1rem;
	min-height: 100vh;
}

.MainHeader {
  order: 1;
}

.Main {
	order: 2;
	background-color: #fff;
}

.MainFooter {
  @apply bg-blue-lightest text-grey-darkest p-4 flex items-center justify-between;
	order: 3;
	padding: 1rem;
}

@media (min-width: 40rem) {
  body {
    grid-template: 6rem 1fr auto / 1fr minmax(auto, 75rem) 1fr;
  }

  .MainHeader {
    grid-column: span 3;
  }

  .Main {
    order: 2;
    grid-column: 2/3;
  }

  .MainFooter {
    grid-column: span 3;
  }
}

h1,
h2 {
  @apply .text-blue-darkest mb-2 font-header font-normal;
}


h3 {
  @apply .text-blue-darkest mb-2 font-normal;
}

p {
  @apply mb-4;
}

.SiteTitle {
  @apply .text-blue-darkest mb-2 text-5xl font-header font-normal;
}

