.Talks {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(3, 1fr);
}

.Talk {
  @apply flex rounded;
}

.Talk-link {
  @apply block bg-grey-lightest rounded p-4 border-4 border-orange-lightest no-underline flex-1 text-black;
  transition: all 100ms ease-in-out;
}

.Talk-link:hover {
  @apply border-orange .no-underline;
}

.Talk-body {
  @apply .text-grey-darker;
}
