<header class="MainHeader">
  <nav class="MainNav">
    <div class="Nav">
      <ul class="NavLinks">
        <li class="flex-grow">          
          <a class="flex items-center flex-no-shrink mr-6" href="/">
            {{ partial "logo.html" . }}
          </a>
        </li>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="NavItem NavItem--primary">
                <a href="{{ .URL }}" class="NavLink {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} NavLink--active{{end}}">
                  {{ .Pre }}
                  {{ .Name }}
                </a>
            </li>
        {{ end }}
        <li class="NavItem">
          <link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
          <script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
          <button onclick="Calendly.showPopupWidget('https://calendly.com/lockedata')" type="button" value="submit" class="Button Button-primary whitespace-no-wrap"><i class="fal fa-mobile mr-1 Shake"  data-fa-transform="grow-4 rotate--3"></i> Schedule Call</button>
        </li>
      </ul>
    </div> 
  </nav>
</header>
