<header class="MainHeader">
  <nav class="MainNav">
    <a class="flex items-center flex-no-shrink mr-6" href="/">
      {{ partial "logo.html" . }}
    </a>
    <div class="block lg:hidden">
      <button class="flex items-center px-3 py-2 border rounded text-white">
        <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
      </button>
    </div>
    <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto font-header">
      <ul class="NavLinks">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}" class="NavLink {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} NavLink--active{{end}}"> 
                  {{ .Name }}
                </a>
            </li>
        {{ end }}
      </ul>
    </div> 
  </nav>
</header>
